@charset "UTF-8";
/*DÉPENDANCES CSS*/
@import url(https://fonts.googleapis.com/css?family=Lato:400,100,300,700,900);
@import url(https://fonts.googleapis.com/css?family=Work+Sans:900);
/*RESET CSS*/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

#background {
  width: 100%;
  overflow: hidden; }

/* ---------- ANIMATIONS ---------- */
@keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes fadeOut {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }

@keyframes cache {
  0% {
    opacity: 0; }
  100% {
    opacity: 0; } }

/* ---------- GÉNÉRAL ---------- */
body {
  overflow: hidden;
  height: 100%;
  font-size: 20px;
  line-height: 1.5; }
  @media only screen and (min-width: 768px) {
    body {
      line-height: 1.25;
      font-size: 16px; } }
  @media only screen and (min-width: 1024px) {
    body {
      line-height: 1.5;
      font-size: 18px; } }
  body .toast {
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 0;
    margin-bottom: 20px;
    font-family: "Lato", sans-serif;
    font-weight: bold;
    color: white; }
    body .toast .alert-succes,
    body .toast .alert-traitement,
    body .toast .alert-erreur {
      -webkit-animation: fadeIn 0.5s ease both;
      box-shadow: 0 6px 10px 0 rgba(44, 18, 0, 0.2), 0 1px 18px 0 rgba(44, 18, 0, 0.2), 0 3px 5px -1px rgba(44, 18, 0, 0.2);
      border-radius: 2px;
      display: flex;
      padding: 20px; }
    body .toast .alert-succes {
      background-color: rgba(18, 173, 58, 0.8); }
    body .toast .alert-traitement {
      background-color: rgba(250, 212, 0, 0.8); }
    body .toast .alert-erreur {
      background-color: rgba(168, 0, 0, 0.8); }
  body a {
    text-decoration: none;
    color: inherit; }
  body input {
    border-radius: 2px;
    outline: none;
    border: none;
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.2), 0 1px 10px 0 rgba(0, 0, 0, 0.2), 0 3px 5px -1px rgba(0, 0, 0, 0.2); }
  body video.bgVideo {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background: url(../images/bgVideoStill.png) no-repeat;
    background-size: cover; }
  body main.page.accueil {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
    align-items: center;
    height: 100vh; }
    body main.page.accueil.ng-enter {
      -webkit-animation: fadeIn 0.5s ease both;
      animation: fadeIn 0.5s ease both;
      -webkit-animation-delay: 0.5s;
      /* Chrome, Safari, Opera */
      animation-delay: 0.5s; }
    body main.page.accueil.ng-leave {
      -webkit-animation: fadeOut 0.5s ease both;
      animation: fadeOut 0.5s ease both;
      -webkit-animation-delay: 0.5s;
      /* Chrome, Safari, Opera */
      animation-delay: 0.5s; }
    body main.page.accueil .logo {
      pointer-events: none;
      background-image: url(../images/logo_david_portfolio.png);
      background-size: cover;
      background-position: center center;
      color: white;
      border: 10px solid #284586;
      font-weight: 700;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 200px;
      width: 200px;
      background-color: #284586;
      border-radius: 110px; }
  body main.page.portfolio {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center; }
    body main.page.portfolio.ng-enter {
      -webkit-animation: cache 1s ease none;
      animation: cache 1s ease none; }
    body main.page.portfolio.ng-leave {
      -webkit-animation: fadeOut 0.5s ease both;
      animation: fadeOut 0.5s ease both; }
    body main.page.portfolio a {
      text-decoration: none;
      color: white; }
      body main.page.portfolio a input {
        border-radius: 2px;
        outline: none;
        border: none;
        box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.2), 0 1px 10px 0 rgba(0, 0, 0, 0.2), 0 3px 5px -1px rgba(0, 0, 0, 0.2); }
    body main.page.portfolio .iconeNav {
      position: fixed;
      z-index: 11;
      top: 15px;
      left: 15px;
      color: #12ad3a;
      font-size: 18px;
      cursor: pointer; }
      body main.page.portfolio .iconeNav .iconeMenu {
        display: none;
        opacity: 0;
        transform: scale(0.1);
        width: 25px;
        height: 25px;
        -webkit-transition: filter .15s, transform .15s;
        transition: filter .15s, transform .15s; }
        body main.page.portfolio .iconeNav .iconeMenu:hover {
          filter: brightness(150%);
          -webkit-filter: brightness(150%);
          transform: scale(1.1); }
    body main.page.portfolio .menu {
      position: fixed;
      top: 0;
      left: 0;
      overflow: hidden;
      height: 0;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      width: 100%;
      z-index: 10;
      background-color: #152554;
      box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.4), 0 1px 10px 0 rgba(0, 0, 0, 0.4), 0 3px 5px -1px rgba(0, 0, 0, 0.4); }
      body main.page.portfolio .menu .wrapperLiens {
        display: flex;
        justify-content: space-between;
        width: 477px; }
      body main.page.portfolio .menu li {
        opacity: 0;
        color: white;
        font-size: 24px; }
        body main.page.portfolio .menu li .btnMenu {
          -webkit-transition: color .15s;
          transition: color .15s; }
          body main.page.portfolio .menu li .btnMenu:hover {
            color: #29FF83; }
    body main.page.portfolio .nomDouble {
      transform: translateY(-100px);
      position: absolute;
      top: 45px;
      left: calc(50% - (486px / 2));
      color: white;
      padding-bottom: 0;
      font-size: 51px;
      font-weight: 900;
      line-height: 1; }
    body main.page.portfolio .entete {
      transform: translateY(-150px);
      z-index: 1;
      overflow: hidden;
      height: 140px;
      position: relative;
      background-color: white;
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      align-items: center; }
      body main.page.portfolio .entete .texteEntete {
        transform: translateY(50px);
        opacity: 0;
        font-family: "Work Sans", sans-serif;
        color: #D2DCFB;
        font-weight: 900;
        font-size: 138px;
        position: absolute;
        top: -59px;
        left: 0px; }
      body main.page.portfolio .entete p.nom {
        transform: translateY(-100px);
        position: absolute;
        top: 46px;
        left: calc(50% - (486px / 2));
        color: #152554;
        padding-bottom: 0;
        font-size: 51px;
        font-weight: 900;
        line-height: 1;
        text-shadow: 0px 0px 30px white;
        -webkit-filter: drop-shadow(0 0 40px white);
        filter: drop-shadow(0 0 40px white); }
    body main.page.portfolio .profil {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 100px;
      text-align: center;
      color: white; }
      body main.page.portfolio .profil .nom {
        width: 100%; }
      body main.page.portfolio .profil .icones {
        margin-bottom: 45px;
        display: flex;
        justify-content: space-between;
        width: 400px; }
        body main.page.portfolio .profil .icones .iconeProfil {
          font-weight: 900;
          font-size: 24px;
          color: #12ad3a;
          display: inline-flex;
          justify-content: center;
          align-items: center;
          width: 40px;
          height: 40px;
          border: 3px solid #12ad3a;
          border-radius: 23px;
          cursor: pointer;
          -webkit-transition: color .15s, border-color .15s, transform .15s;
          transition: color .15s, border-color .15s, transform .15s; }
          body main.page.portfolio .profil .icones .iconeProfil:hover {
            color: #29FF83;
            transform: scale(1.2);
            border-color: #29FF83; }
          body main.page.portfolio .profil .icones .iconeProfil div {
            pointer-events: none; }
      body main.page.portfolio .profil .descProfil {
        opacity: 0;
        font-size: 22px;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        overflow: hidden;
        text-align: justify;
        width: 480px; }
        body main.page.portfolio .profil .descProfil .desc {
          text-align: justify;
          padding: 0; }
    body main.page.portfolio .projets {
      width: 100%;
      padding-top: 50px;
      margin-bottom: 150px;
      color: white; }
      body main.page.portfolio .projets .contenu {
        max-width: 1200px;
        margin: 50px auto auto;
        padding: 0 65px;
        display: flex;
        flex-direction: row-reverse;
        justify-content: flex-end;
        align-items: flex-end;
        text-align: justify;
        direction: rtl; }
        body main.page.portfolio .projets .contenu .titreProjet {
          visibility: hidden;
          display: inline-block;
          font-size: 20px;
          font-weight: 700;
          padding-left: 20px;
          padding-right: 20px;
          color: #12ad3a;
          cursor: pointer;
          -webkit-transition: color .15s;
          transition: color .15s; }
          body main.page.portfolio .projets .contenu .titreProjet:hover {
            color: #29FF83; }
        body main.page.portfolio .projets .contenu .techProjet {
          visibility: hidden;
          font-weight: 700; }
        body main.page.portfolio .projets .contenu .descProjet {
          visibility: hidden; }
        body main.page.portfolio .projets .contenu .wrapperImgProjet {
          opacity: 0;
          position: relative;
          overflow: hidden;
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 2px;
          border: solid 2px white;
          background-color: rgba(73, 115, 240, 0.25); }
          @media only screen and (min-width: 768px) {
            body main.page.portfolio .projets .contenu .wrapperImgProjet {
              width: 225px;
              height: 225px; } }
          @media only screen and (min-width: 1024px) {
            body main.page.portfolio .projets .contenu .wrapperImgProjet {
              width: 250px;
              height: 250px; } }
          body main.page.portfolio .projets .contenu .wrapperImgProjet .fillHover {
            pointer-events: none;
            position: absolute;
            background-color: #12ad3a;
            height: 5%;
            width: 5%;
            border: 6px solid transparent;
            -moz-background-clip: border;
            /* Firefox 3.6 */
            -webkit-background-clip: border;
            /* Safari 4? Chrome 6? */
            background-clip: border-box;
            /* Firefox 4, Safari 5, Opera 10, IE 9 */
            -moz-background-clip: padding;
            /* Firefox 3.6 */
            -webkit-background-clip: padding;
            /* Safari 4? Chrome 6? */
            background-clip: padding-box;
            /* Firefox 4, Safari 5, Opera 10, IE 9 */
            -moz-background-clip: content;
            /* Firefox 3.6 */
            -webkit-background-clip: content;
            /* Safari 4? Chrome 6? */
            background-clip: content-box;
            /* Firefox 4, Safari 5, Opera 10, IE 9 */ }
          body main.page.portfolio .projets .contenu .wrapperImgProjet .imageProjet {
            pointer-events: none;
            overflow: hidden;
            border-radius: 102px;
            border: solid 2px white;
            -webkit-filter: grayscale(100%) sepia(100%) hue-rotate(180deg);
            filter: grayscale(100%) sepia(100%) hue-rotate(180deg); }
            @media only screen and (min-width: 768px) {
              body main.page.portfolio .projets .contenu .wrapperImgProjet .imageProjet {
                width: 175px;
                height: 175px; } }
            @media only screen and (min-width: 1024px) {
              body main.page.portfolio .projets .contenu .wrapperImgProjet .imageProjet {
                width: 200px;
                height: 200px; } }
          body main.page.portfolio .projets .contenu .wrapperImgProjet .saturation {
            -webkit-filter: grayscale(0%) sepia(0%) hue-rotate(360deg);
            filter: grayscale(0%) sepia(0%) hue-rotate(360deg); }
        body main.page.portfolio .projets .contenu:nth-child(odd) {
          flex-direction: row-reverse;
          direction: rtl; }
          body main.page.portfolio .projets .contenu:nth-child(odd) p {
            padding-left: 20px; }
          body main.page.portfolio .projets .contenu:nth-child(odd) a {
            border-top-left-radius: 200px;
            border-top-right-radius: 200px;
            border-bottom-right-radius: 200px; }
            body main.page.portfolio .projets .contenu:nth-child(odd) a .fillHover {
              bottom: 0;
              left: 0;
              border-top-left-radius: 0%;
              border-top-right-radius: 100%;
              border-bottom-right-radius: 0%; }
        body main.page.portfolio .projets .contenu:nth-child(even) {
          flex-direction: row;
          direction: ltr;
          flex-direction: row-reverse; }
          body main.page.portfolio .projets .contenu:nth-child(even) p {
            padding-left: 20px; }
          body main.page.portfolio .projets .contenu:nth-child(even) a {
            border-top-left-radius: 200px;
            border-top-right-radius: 200px;
            border-bottom-left-radius: 200px; }
            body main.page.portfolio .projets .contenu:nth-child(even) a .fillHover {
              bottom: 0;
              right: 0;
              border-top-left-radius: 100%;
              border-top-right-radius: 0%;
              border-bottom-left-radius: 0%; }
        body main.page.portfolio .projets .contenu p {
          padding-right: 20px; }
          @media only screen and (min-width: 768px) {
            body main.page.portfolio .projets .contenu p {
              width: 450px; } }
          @media only screen and (min-width: 1024px) {
            body main.page.portfolio .projets .contenu p {
              width: 585px; } }
        body main.page.portfolio .projets .contenu:last-child {
          padding-bottom: 50px; }
    body main.page.portfolio .contact {
      margin: 0 auto;
      margin-bottom: 300px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center; }
      body main.page.portfolio .contact h3 {
        color: white;
        margin-bottom: 20px; }
      body main.page.portfolio .contact textarea {
        width: calc(100% - 20px);
        max-width: calc(100% - 20px);
        min-width: calc(100% - 20px);
        height: 200px;
        min-height: 200px;
        max-height: 200px; }
      body main.page.portfolio .contact input,
      body main.page.portfolio .contact textarea {
        -webkit-appearance: none;
        /*Pour Safari*/
        -webkit-border-radius: 2px;
        /*Pour Safari*/
        color: white;
        font-family: "Lato", sans-serif;
        font-size: 18px;
        padding: 10px;
        margin-bottom: 20px;
        background-color: rgba(73, 115, 240, 0.25);
        border: solid 1px white; }
      body main.page.portfolio .contact input[type=submit] {
        -webkit-border-radius: 2px;
        /*Pour Safari*/ }
      body main.page.portfolio .contact input:focus,
      body main.page.portfolio .contact textarea:focus {
        color: #152554;
        background-color: white; }
      body main.page.portfolio .contact input:hover:not(:focus),
      body main.page.portfolio .contact textarea:hover:not(:focus) {
        background-color: rgba(131, 162, 255, 0.4); }
      body main.page.portfolio .contact textarea {
        border-radius: 2px; }
      body main.page.portfolio .contact .champs {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 480px; }
        body main.page.portfolio .contact .champs div {
          display: flex;
          flex-wrap: nowrap; }
        body main.page.portfolio .contact .champs input {
          width: calc(35% - 20px); }
          body main.page.portfolio .contact .champs input:first-child, body main.page.portfolio .contact .champs input:nth-child(2) {
            margin-right: 20px; }
          body main.page.portfolio .contact .champs input.btnSoumettreMsg {
            border: none;
            width: calc(20% + 10px);
            background-color: #12ad3a;
            color: white;
            transition: background-color .25s; }
            body main.page.portfolio .contact .champs input.btnSoumettreMsg:hover {
              background-color: #29FF83; }
    body main.page.portfolio .zoneAffichageProjets {
      overflow: hidden;
      height: calc(100vh - 25px);
      max-height: calc(100vh - 25px);
      background-color: white;
      position: fixed;
      top: 0;
      left: 0;
      padding-bottom: 25px;
      z-index: 15;
      margin: auto;
      width: 0;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center; }
      body main.page.portfolio .zoneAffichageProjets iframe {
        opacity: 0;
        max-height: 100%;
        height: 100%;
        display: block;
        border-radius: 2px;
        border: none;
        width: calc(100% - 50px);
        box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.2), 0 1px 10px 0 rgba(0, 0, 0, 0.2), 0 3px 5px -1px rgba(0, 0, 0, 0.2);
        margin: auto; }
      body main.page.portfolio .zoneAffichageProjets .infoProjet {
        height: 0%;
        border-radius: 2px;
        box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.2), 0 1px 10px 0 rgba(0, 0, 0, 0.2), 0 3px 5px -1px rgba(0, 0, 0, 0.2);
        width: calc(100% - 50px);
        margin: auto;
        margin-top: 0;
        overflow: hidden;
        background-color: lightgray; }
        body main.page.portfolio .zoneAffichageProjets .infoProjet .descAffichageProjet {
          font-weight: 700; }
        body main.page.portfolio .zoneAffichageProjets .infoProjet .creditsProjet {
          border-radius: 6px;
          border: none;
          width: 100%;
          margin-bottom: 0; }
        body main.page.portfolio .zoneAffichageProjets .infoProjet p {
          padding: 10px;
          height: auto;
          font-size: 14px;
          line-height: 1.25; }
          body main.page.portfolio .zoneAffichageProjets .infoProjet p:last-child {
            color: grey; }
      body main.page.portfolio .zoneAffichageProjets .navProjet {
        width: calc(100% - 50px);
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 10px;
        margin-bottom: 15px; }
        body main.page.portfolio .zoneAffichageProjets .navProjet .fermer {
          padding-right: 0;
          position: absolute;
          top: 0;
          right: 0; }
        body main.page.portfolio .zoneAffichageProjets .navProjet h1 {
          font-weight: 700; }
        body main.page.portfolio .zoneAffichageProjets .navProjet h1,
        body main.page.portfolio .zoneAffichageProjets .navProjet a {
          display: inline-block; }
        body main.page.portfolio .zoneAffichageProjets .navProjet a {
          margin-left: 20px; }
        body main.page.portfolio .zoneAffichageProjets .navProjet .wrapperBtnNavProjet {
          position: absolute;
          top: 0;
          left: 0;
          display: flex;
          justify-content: space-between; }
        body main.page.portfolio .zoneAffichageProjets .navProjet .btnNavProjet {
          padding: 5px;
          width: 80px;
          height: 25px;
          background-color: #12ad3a;
          color: white;
          margin-right: 10px;
          transition: background-color .25s; }
          body main.page.portfolio .zoneAffichageProjets .navProjet .btnNavProjet:first-child {
            padding-left: 0;
            margin-left: 0; }
          body main.page.portfolio .zoneAffichageProjets .navProjet .btnNavProjet:last-child {
            padding-right: 0;
            margin-right: 0; }
          body main.page.portfolio .zoneAffichageProjets .navProjet .btnNavProjet:hover {
            background-color: #29FF83; }
    body main.page.portfolio .zoneAffichageVideo {
      overflow: hidden;
      width: 0;
      height: 100vh;
      max-height: 100vh;
      background-color: white;
      position: fixed;
      top: 0;
      left: 0;
      display: flex;
      z-index: 15;
      flex-direction: column;
      justify-content: center;
      align-items: center; }
      body main.page.portfolio .zoneAffichageVideo .wrapperVideo {
        width: 75%;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center; }
        body main.page.portfolio .zoneAffichageVideo .wrapperVideo .fermerVideo {
          z-index: 20;
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: 20px;
          position: absolute;
          top: -20px;
          right: -20px;
          color: white;
          height: 40px;
          width: 40px;
          border-radius: 20px;
          background-color: #12ad3a;
          align-self: flex-end;
          cursor: pointer;
          box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.2), 0 1px 10px 0 rgba(0, 0, 0, 0.2), 0 3px 5px -1px rgba(0, 0, 0, 0.2);
          transition: background-color .25s; }
          body main.page.portfolio .zoneAffichageVideo .wrapperVideo .fermerVideo:hover {
            background-color: #29FF83; }
        body main.page.portfolio .zoneAffichageVideo .wrapperVideo video {
          width: 100%;
          display: block;
          border-radius: 2px;
          border: none;
          box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.2), 0 1px 10px 0 rgba(0, 0, 0, 0.2), 0 3px 5px -1px rgba(0, 0, 0, 0.2); }
